<h1>New ep</h1>

<%= form_for(@ep) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :eps %><br />
    <%= f.text_field :eps %>
  </p>
  <p>
    <%= f.label :eps_diluted %><br />
    <%= f.text_field :eps_diluted %>
  </p>
  <p>
    <%= f.label :stock_id %><br />
    <%= f.text_field :stock_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', eps_path %>
