%h1 Listing sp_earnings

%table
  %tr
    %th Calc date
    %th List file
    %th Size
    %th Excluded
    %th Total market cap
    %th Public market cap
    %th Total earnings
    %th Market pe
    %th Index price
    %th Inferred divisor
    %th Divisor earnings
    %th Divisor pe
    %th Notes
    %th


  - @sp_earnings.each do |sp_earning|
    %tr
      %td= sp_earning.calc_date
      %td= sp_earning.list_file
      %td= sp_earning.num_included
      %td= sp_earning.excluded_list.size
      %td= sp_earning.total_market_cap
      %td= sp_earning.public_market_cap
      %td= sp_earning.total_earnings
      %td= sp_earning.market_pe
      %td= sp_earning.index_price
      %td= sp_earning.inferred_divisor
      %td= sp_earning.divisor_earnings
      %td= sp_earning.divisor_pe
      %td= sp_earning.notes
      %td= link_to 'Show', sp_earning


%br


