<p>
  <b>User:</b>
  <%=h @portfolio.user.name %>
  <b>Portfolio:</b>
  <%=h @portfolio.name %>
</p>

        <table class="stock-list">
                <th> Stock </th>
                <th> Ticker </th>
                <th> Shares </th>
                <th> price </th>
                <th> 10 year P/E </th>
                <th> Value </th>
                <th> Total Gain% </th>

                <% @portfolio.owned_stocks.each do |stock| %>
                        <tr id=<%= dom_id(stock) %> class="<%= cycle('row-odd', 'row-even') %>">
                               <%= render :partial => stock %>
                        </tr>
                <% end %>
        </table>

<%= link_to 'Add a new stock purchase', new_transaction_path(:portfolio_id => @portfolio.id, :type => "BUY") %> |

