%ul.list-group
  %li.list-group-item.row.list-group-item-info.bold
    Graham financials
  %li.list-group-item.row
    %div.col-md-5
      Big Enough?
    %span.bold.col-md-2
      - @yn = @stock.big_enough?
      = render 'yes_no'
  %li.list-group-item.row
    %div.col-md-5
      Good Balance Ratios?
    %span.bold.col-md-2
      - @yn = @stock.financialy_strong?
      = render 'yes_no'
    %div.col-md-5
      - if !@stock.has_currant_ratio
        = "*Using TOTAL ratios."
      link to  
      = link_to "Balance sheet", "http://investing.money.msn.com/investments/stock-balance-sheet/?symbol=us%3A#{@stock.ticker}&stmtView=Ann"
  %li.list-group-item.row
    %div.col-md-5
      No earnings dificet?
    %span.bold.col-md-2
      - @yn = @stock.no_earnings_deficit?
      = render 'yes_no'
  %li.list-group-item.row
    %div.col-md-5
      Dividend record 
    %span.bold.col-xs-2
      - @yn = (!@stock.dividends.empty? && @stock.continous_dividend_record?)
      = render 'yes_no'
    %div.col-md-5
      - if !@yn
        Currently paying dividends?
        - @yn = @stock.pays_dividends 
        = render 'yes_no'
      link to
      = link_to "Dividends", @stock.dividend_url
  %li.list-group-item.row
    %div.col-md-5
      Earnings growth
    %span.bold.col-md-2
      - @yn = @stock.eps_growth?
      = render 'yes_no' 
  %li.list-group-item.row
    %div.col-md-5
      Cheap?
    - if @stock.price_limit >= 0
      %span.bold.col-md-2
        - @yn = @stock.cheap?
        = render 'yes_no'
      %div.col-md-5
        - if @stock.overpriced?
          = " #{@stock.ticker} Is OVERPRICED, might consider selling:"
        - if @stock.bargain?
          = "At that price, #{@stock.ticker} is a bargain!"
    - else
      %div.col-md-7
        To many losses to recomend a buying price limit
  %li.list-group-item.row 
    = "#{@stock.ticker} has a defensive limit buy price of #{short_float(@stock.price_limit)}, is trading at #{@stock.price}, and is overvalued at #{ @stock.valuation_limit }"
