%ul.list-group.container
  - @earnings.sort!{ |b,a| a.year <=> b.year } #NEWEST FIRST
  %li.list-group-item.row.list-group-item-info
    Financial data last updated 
    <span class="bold">
    =h @stock.latest_eps.created_at.to_date
    </span>
    %div.small-italic
      *All long term values adjusted for inflation, using CORE CPI
  %li.list-group-item.row
    %h4.strong
      P/E
  %li.list-group-item.row
    %div.col-xs-10
      1 year P/E (TTM) 
    %span.bold.col-xs-2
      =h short_float( @stock.pe )
  %li.list-group-item.row
    - if !@stock.historic_eps(5).nil?
      %div.col-xs-10
        5 years P/E 
      %span.bold.col-xs-2
        = short_float( @stock.price / @stock.historic_eps(5).to_f )
    - else
      %div.col-xs-12
      Cannot calculate 5 year eps because earnings don't go back that far    
  %li.list-group-item.row
    - if !@stock.ten_year_eps.nil?
      %div.col-xs-10
        10 years P/E 
      %span.bold.col-xs-2
        = short_float(@stock.ten_year_eps)
    - else
      %div.col-xs-12
      Cannot calculate 10 year eps because earnings don't go back that far
  %li.list-group-item.row
    %h4.strong
      Per Share Data
  %li.list-group-item.row
    %div.col-xs-10
      TTM Earnings (per share) 
    %span.bold.col-xs-2
      =h  "%5.2f" % @stock.ttm_eps 
  %li.list-group-item.row
    - if !@stock.historic_eps(7).nil?
      %div.col-xs-10
        Average EPS for past 7 years
      %span.bold.col-xs-2
        = short_float(@stock.historic_eps(7))
    - else
      %div.col-xs-12  
        Earnings do not go back far enought to compute histroic (average) eps
  %li.list-group-item.row
    %div.col-xs-10
      Price to book (per share)
    %span.bold.col-xs-2
      = sprintf( "%.2f", @stock.price.to_f / @stock.book_value_per_share)    
  %li.list-group-item.row
    %h4
      Float, Margin, and ROE
  = render 'stocks/dilution', :num => 10
  = render 'stocks/dilution', :num => 3
  %li.list-group-item.row
    - @margins = @earnings.map{ |s| s.margin}.select{ |v| v != 0}
    %div.col-xs-9
      Average 
      <span class="bold">Margin</span>
      over past #{ @margins.size } years is 
    %span.bold.col-xs-3    
      #{ "%5.2f" % (100 * @margins.inject{ |sum, el| sum + el }.to_f / @margins.size) } %
  %li.list-group-item.row
    %div.col-xs-9
      Average 
      <span class="bold">ROE</span>
      over past #{ @stock.recent_annual_earnings(10).size } years is 
    %span.bold.col-xs-3    
      #{ "%5.2f" %  @stock.historic_roe(10) } %
