<h1>Listing stocks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%=h stock.name %></td>
    <td><%=h stock.ticker %></td>
    <td><%= link_to 'Show', :controller => "stocks", :action => "show" %></td>
    <td><%= link_to 'Edit',  :controller => "stocks", :action => "edit" %></td>
    <td><%= link_to 'Destroy', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stock', new_stock_path %>
