%h1
  =h @stock.name
%h2
  Ticker:
  =h @stock.ticker
  = link_to "on_google", "http://www.google.com/finance?q=#{@stock.ticker}"
%p
  = "last price: #{@stock.price}"
  = button_to("Update price", {:price => @stock.update_price },
  :method => :put )
- if !@ttm.nil?
  .red
    Showing TTM data in last column of chart   
- if !@notes.empty?
  .blue
    Stock has notes (displayed at bottom)
= render "stocks/earnings_chart"
= render "stocks/graham_data"
= render 'stocks/mydata'
= render 'stocks/be_table'
- if !@notes.empty?
  %table.stock-list
    %thead
      %th
        year
      %th
        pertains to
      %th
        note  
    %tbody
      - @notes.sort{ |a,b| b.year <=> a.year }.each do |n|
        %tr
          %td
            = n.year
          %td
            = n.pertains_to 
          %td
            = n.note

= link_to 'Back', stocks_path
