<h1>New search</h1>

<%= form_for(@search ) do |f| %>
  <% @search.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

  <p>
    (G1) Check that sales > 500 mil, and Book > 2.5B
    <%= f.label :sales %><br />
    <%= f.check_box :big_enough %>
  </p>

  <p>
    Market Cap larger than
    <%= f.label :market_cap %><br />
    <%= f.text_field :market_cap %>
  </p>

  <p>
    Revenue greater than
    <%= f.label :revenue %><br />
    <%= f.text_field :revenue %>
  </p>

  <p>
    Net Income greater than
    <%= f.label :net_income %><br />
    <%= f.text_field :net_income %>
  </p>

  <p>
    Margin greater than
    <%= f.label :margin %><br />
    <%= f.text_field :margin %>
  </p>

  <p>
    Return on Equity greater than
    <%= f.label :roe %><br />
    <%= f.text_field :roe %>
  </p>

  <p>
    (G2)
    <%= f.label :good_balance_ratios %><br />
    <%= f.check_box :good_balance %>
  </p>

  <p>
    <%= f.label :book_value_is %><br />
    <%= f.radio_button :book, 0, :checked => true %>
    <%= f.label :book, "any" %>
    <%= f.radio_button :book, 1 %>
    <%= f.label :book, "positive" %>
    <%= f.radio_button :book, -1 %>
    <%= f.label :book, "negative" %>
  </p>

  <p>
    (G3)
    <%= f.label :no_losses %><br />
    <%= f.check_box :no_losses %>
  </p>
  <p>
    (G4)
    <%= f.label :divs %><br />
    <%= f.check_box :divs %>
  </p>
  <p>
    <%= f.label :currently_paying_a_dividend %><br />
    <%= f.check_box :current_div %>
  </p>
  <p>
    <%= f.label :dilution %><br />
    <%= f.text_field :dilution %>
  </p>

  <p>
    (G5)
    <%= f.label :earnings_growth %><br />
    <%= f.check_box :earning_growth %>
  </p>

  <p>
    (G6)
    <%= f.label :defensive_price %><br />
    <%= f.check_box :defensive_price %>
  </p>

  <p>
    <%= f.label :sort_results_by %><br />
    <%= f.radio_button :sort_by, "pe10", :checked => true %>
    <%= f.label :sort, "pe10" %>
    <%= f.radio_button :sort_by, "price_to_limit" %>
    <%= f.label :sort, "price_to_limit" %>
    <%= f.radio_button :sort_by, "price_to_book" %>
    <%= f.label :sort, "price_to_book" %>
    <%= f.radio_button :sort_by, "market_cap" %>
    <%= f.label :sort, "market_cap" %>
    <%= f.radio_button :sort_by, "pe" %>
    <%= f.label :sort, "pe" %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', searches_path %>
