%br
%h1
  Showing stocks with:
%br
- crit = 1

%p
  = "Params where #{@params.to_s}"
- if @search.big_enough
  %p
    %strong #{crit}. (G1) SALES more than 500 mil
    - crit = crit + 1

- if !@search.market_cap.nil?
  %p
    %strong #{crit}. MARKET CAP > #{ @search.market_cap.to_s }
    - crit = crit + 1

- if !@search.revenue.nil?
  %p
    %strong #{crit}. REVENUE > #{ @search.revenue }
    - crit = crit + 1

- if !@search.net_income.nil?
  %p
    %strong #{crit}. EARNINGS > #{ @search.net_income }
    - crit = crit + 1

- if !@search.margin.nil?
  %p
    %strong #{crit}. MARGIN > #{ @search.margin.to_s }
    - crit = crit + 1

- if !@search.roe.nil?
  %p
    %strong #{crit}. ROE > #{ @search.roe.to_s }
    - crit = crit + 1


- if @search.good_balance
  %p
    %strong #{crit}. (G2) BALANCE ratios are good
    - crit = crit + 1

- if @search.book != 0
  %p
    - str = "positive"
    - str = "negative" if @search.book < 0
    %strong #{crit}. BOOK VALUE is #{str} 
    - crit = crit + 1

- if @search.no_losses
  %p
    %strong #{crit}. (G3) NO LOSSES in past 10 years
    - crit = crit + 1

- if @search.divs
  %p
    %strong #{crit}. (G4) DIVIDEND consistant for 20 years
    - crit = crit + 1

- if @search.current_div
  %p
    %strong #{crit}. DIVIDEND is paid currently
    - crit = crit + 1

- if !@search.dilution.nil? #returning flase!?
  %p
    %strong #{crit}. DILUTION less than #{@search.dilution} % 
    - crit = crit + 1

- if @search.earning_growth
  %p
    %strong #{crit}. (G5) EARNINGS GROWTH
    - crit = crit + 1

- if @search.defensive_price
  %p
    %strong #{crit}. (G6) PRICE is below defensive limit
    - crit = crit + 1

%br
%br
%p
  = "Found total of #{@stocks.size} stocks, ordered by #{"10 year PE"}"

- num = 1
%table.stock-list
  %thead
    %th
      number
    %th
      ticker
    %th
      Market Cap
    %th
      Price
    %th
      Price limit
    %th
      = link_to "Price/Limit", :sort => "price_to_limit"
    %th
      = link_to "Price/Book", :sort => "price_to_book"
    %th
      = link_to "10 year P/E", :sort => "pe_10"
  %tbody
    - @stocks.each do |stock|
      %tr
        %td
          = num
          - num = num + 1
        %td
          = link_to "#{stock.ticker}", stock_path(stock)
          = link_to "Dividends", stock.dividend_url
        %td
          = "#{"%.2f" % (stock.market_cap.to_f / 1000000000)} Bil"
        %td
          = stock.price
        %td
          = short_float(stock.price_limit)
        %td
          = short_float( stock.price_to_limit_ratio) #stock.price.to_f / stock.price_limit.to_f)
        %td
          = short_float(stock.price_to_book_ratio) #.to_f / stock.book_value_per_share.to_f)
        %td
          = short_float(stock.ten_year_eps)
