<h1>New Stock Purchase</h1>

<% form_for(@transaction) do |f| %>
<%= f.error_messages %>

<%= f.hidden_field :type, :value => params[:type] %>
<%= f.hidden_field :portfolio_id, :value => @portfolio.id %>

<p>
  <%= f.label :stock_id %><br />
  <%= f.collection_select :stock_id, Stock.all, :id, :ticker %>
</p>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price, :size => 10  %>
</p>
<p>
  <%= f.label :shares %><br />
  <%= f.text_field :shares, :size => 10  %>
</p>
<p>
  <%= f.label :date %><br />
  <%= f.date_select :date %>
</p>
<p>
  <%= f.label :comission %><br />
  <%= f.text_field :comission, :size => 10 %>
</p>
<p>
  <%= f.submit 'Add purchase details' %>
</p>
<% end %>

<%= link_to 'Back', transactions_path %>
