<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Comission</th>
    <th>Stock</th>
    <th>Shares</th>
    <th>Type</th>
    <th>Price</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.date %></td>
    <td><%=h transaction.comission %></td>
    <td><%=h transaction.stock_id %></td>
    <td><%=h transaction.shares %></td>
    <td><%=h transaction.type %></td>
    <td><%=h transaction.price %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>